<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384950071302-nud29nu4jconamnjf0n7t5ijpq19ouk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384950071302-nud29nu4jconamnjf0n7t5ijpq19ouk7</string>
	<key>API_KEY</key>
	<string>AIzaSyB64qJRv6GaSWlPQHWcBcVdtMGYt6wGrpY</string>
	<key>GCM_SENDER_ID</key>
	<string>384950071302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scott.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-f915c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f915c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384950071302:ios:9fb9a9c5e6c41f1ecd9387</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-f915c.firebaseio.com</string>
</dict>
</plist>